@font-face {
    font-family: pokemon-font;
    src: url(/fonts/Pokemon\ Solid.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Index */

#header-index {
    display: flex;
    align-items: flex-end;
    height: 40vh;
    width: 100%;
}

#set-name {
    height: 40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

#set-name label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

#input-name {
    font-size: 1.4rem;
    height: 2.5rem;
    width: 15rem;
    border-radius: 50px;
    padding: 0 10px;
    text-align: center;
}

#return-msg {
    font-size: 1rem;
    color: cyan;
    padding-top: 10px;
}

#start-game {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 8rem;
    height: 2rem;
    border-radius: 25px;
}

body {
    background-image: url(/imagens/grass.jpg);
    background-size: cover;
    background-position: center;
}

/* Game */

.game-name {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 10px 0 0;
    font-family: pokemon-font;
    color: yellow;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: blue;
    letter-spacing: 5px;
    box-sizing: border-box;
}

.game-name a{
    text-decoration: none;
    color: yellow;
    -webkit-text-stroke-color: blue;
}

@media (max-width:900px) {
    header {
        font-size: 1.4rem;
        text-align: center;
    }

    main #cards {
        grid-template-columns: repeat(5, 1fr);
    }

    body #counter {
        width: 15%;
    }

    main #game-infos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    main #game-infos div{
        margin:1rem;
    }

}

#game-infos {
    display: flex;
    align-items: center;
    margin: 2rem 3rem;
    justify-content: space-between;
}

#player-name {
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 10px;
    font-weight: bold;
    min-width: 10rem;
    height: 2rem;
    border-radius: 5px;
}

#counter {
    background-color: white;
    width: 10%;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
    justify-content: center;
    border-radius: 5px;
    height: 2.5rem
}

.clock{
    font-size: 1.5rem;
    color: black
}


#reset-button {
    background-color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 8em;
    height: 2.5rem;
    border-radius: 50px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    margin: 0 auto;
    width: 95%;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    position: relative;
    background-color: #ccc;
    transition: transform 0.8s;
	transform-style: preserve-3d;
    border-radius: 5px;
    border: solid 1px;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    border-radius: 5px;
    border: solid 1px;
    background-repeat: no-repeat;
}

.front {
    background-size: 110%;
}

.back {
    background-image: url(/imagens/pokebola.png);
    background-color: rgb(226, 224, 224);
    background-size: 95%;
    backface-visibility: hidden;
}

.revealed-card {
    transform: rotateY(180deg);
}

.correct-pair {
    filter: saturate(0);
    opacity: 0.7;
}